AppWindow #widgetButtonsWidget QPushButton
{
	color: #fff;
}

AppWindow #widgetButtonsWidget QPushButton:focus:!pressed
{
	color: #fff;
}

AppWindow #widgetButtonsWidget QPushButton:pressed
{
	color: #fff;
}
